        <div ng-controller="SlideController" class="ui stackable four column grid slide-selection">
            <div class="row">
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'aufstellung'}" ng-click="changeSlide('aufstellung')" class="ui center aligned segment">
                        <h3>TVR Aufstellung</h3>
                    </div>
                </div>
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'tabelle'}" ng-click="changeSlide('tabelle')" class="ui center aligned segment">
                        <h3>Tabelle 3. Liga</h3>
                    </div>
                </div>
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'teambild'}" ng-click="changeSlide('teambild')" class="ui center aligned segment">
                        <h3>Teambild</h3>
                    </div>
                </div>
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'spielerEinzeln'}" ng-click="changeSlide('spielerEinzeln')" class="ui center aligned segment">
                        <h3>Spieler einzeln</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'chat'}" ng-click="changeSlide('chat')" class="ui center aligned segment">
                        <h3>Chat</h3>
                    </div>
                </div>
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'chatErklaerung'}" ng-click="changeSlide('chatErklaerung')" class="ui center aligned segment">
                        <h3>Chat Erklaerung</h3>
                    </div>
                </div>
                <div class="column">
                    <div ng-class="{'blue': activeSlide == 'video'}" ng-click="changeSlide('video')" class="ui center aligned segment">
                        <h3>Video-Wiederholung</h3>
                    </div>
                </div>
            </div>
        </div>