        <div class="ui stackable four column grid slide-selection">
            <div class="row">
                <div class="column">
                    <div class="ui center aligned blue segment">
                        <img class="ui medium bordered image" src="img/TVRAufstellung.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/Tabelle3Liga.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/Mannschaftsbild.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/SpielerEinzeln.jpg" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/PublikumsChat.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/ChatErklaerung.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/Tabelle3Liga.jpg" />
                    </div>
                </div>
                <div class="column">
                    <div class="ui center aligned segment">
                        <img class="ui medium bordered image" src="img/Tabelle3Liga.jpg" />
                    </div>
                </div>
            </div>
        </div>